<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8"><title>Reset password</title>
</head>
<body>
<h2>Reset your password</h2>

<div th:if="${error}" style="color:red" th:text="${error}"></div>

<form th:action="@{/reset-password}" method="post">
  <input type="hidden" name="token" th:value="${token}">

  <label>New password</label><br>
  <input type="password" name="password" required minlength="8"><br><br>

  <label>Confirm new password</label><br>
  <input type="password" name="confirm" required minlength="8"><br><br>

  <button type="submit">Save new password</button>
</form>


<p><a th:href="@{/login}">Back to login</a></p>
</body>
</html>

